:root {
  --blue: #0468cc;
  --navy-blue: #062647;
  --grey: #6c8090;
  --dark-grey: rgb(64, 63, 63);
  /* buttons */
  --button-bg-color: #007bff;
  --button-text-color: #ffffff;
  --button-border-radius: 5px;
  --button-padding: 10px 20px;
  --button-font-size: 16px;
}

/* 
font-family: "Teko", serif;
font-family: "Mulish", serif;
 */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins';
}

p {
  text-wrap: pretty;
  font-family: 'Mulish', serif;
}
.containerr {
  border: 1px solid var(--navy-blue);
  margin: 20px auto;
  padding: 10px 0 0 0;
  max-width: 1000px;
}

/* navbar */
.logo {
  height: 50px;
}

nav {
  background-color: var(--navy-blue);
}

.nav-item {
  padding: 0 18px;
  text-align: center;
}

nav .nav-link {
  color: white;
}

nav .nav-link:hover {
  color: var(--blue);
}

/* main */
main,
section {
  padding: 20px 40px;
}

.hero {
  /* display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px; */
}

.img-content img {
  width: 100%;
  border-radius: 20px;
  margin-top: 20px;
}
.text-content h1 {
  font-family: 'Teko', serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 0.9;
}
.text-content p {
  font-family: 'Mulish', serif;
  font-weight: 400;
  line-height: 1.4;
}
.text-content .btn {
  background-color: var(--button-bg-color);
  color: white;
  padding: 13px 25px;
  border-radius: 15px;
  margin: 20px 0;
}

.text-content .btn:hover {
  background-color: var(--navy-blue);
  color: white;
}

.socials i {
  margin: 0px 5px 20px;
}

/* Subjects */
.subjects h2 {
  text-align: center;
  font-family: 'Inter', serif;
  font-size: 2.3rem;
  padding: 30px 0;
}
.subjects p {
  text-wrap: pretty;
  font-size: 12px;
}
.subject-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-reg {
  background-color: var(--button-bg-color);
  color: white;
  padding: 7px 22px;
  border-radius: 15px;
  margin: 20px 0;
  border: none;
  vertical-align: middle;
}

.btn-reg:hover {
  background-color: var(--navy-blue);
  color: white;
}
/* why tuttees */
.why-us {
  margin: 20px 0;
}
.why-us img {
  width: 100%;
  border-radius: 20px;
  margin: 20px 0;
}
.why h2 {
  text-align: center;
  font-size: 2.3rem;
  padding: 30px 0 20px 0;
}
.why p {
  line-height: 1.77;
}

/* footer */
footer {
  background-color: #6c8090;
  /* height: 50px; */
}

footer h3 {
  font-size: 1rem;
  text-align: center;
  padding: 10px;
}
/* media queries */

@media screen and (min-width: 896px) {
  nav .nav-link:hover {
    border-bottom: 2px solid var(--blue);
    color: white;
  }

  .hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-around;
    margin: 0 20px;
  }

  .img-content img {
    width: 398px;
    height: 560px;
    position: relative;
    top: -40px;
    right: -40px;
    border-radius: 0;
  }

  .text-content {
    margin: 60px 0;
  }
  .text-content h1 {
    font-size: 55px;
  }

  .text-content p {
    font-size: 24px;
    padding-top: 15px;
  }
  .why-us{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
  }
  .why-us img {
  width: 462px;
  border-radius: 20px 0 0 20px;
  height: 485px;
  /* margin: 20px 0; */
}
.why h2{
  text-align: left;
}
.why{
  margin-top: 10px;
}
}





